
.hidden {
	display: none;
}

#container
{
	display: flex;
	flex-direction: row;
}

#nav {
	background-color: #848484;
	width: 100%;
}

#navMenu {
	text-align: center;
}

#navMenu li {
	display: inline;
	font-size: 43px;
	padding: 20px;


}



@media screen and (max-width: 641px)
{
	#navMenu {
		text-align: center;
		height: 30px;
	}

	#navMenu li {
		font-size: 20px;
	}

	#heroImage {
		background-color: #848484;
		margin-top: 15px;
		margin-left: 5px;
		margin-right: 5px;
		margin: bottom: 10px;
		height: 170px;
		text-align: center;
	}

	#imageA {
		background-color: #848484;
		margin-left: 5px;
		float: left;
		width: 47%;
		height: 130px;
		margin-top: 10px;
		margin-right: 5px;
	}

	#textA {
		background-color: #848484;
		margin-right: 5px;
		margin-top: 10px;
		height: 130px;
		width: 47%;
		float: right;
	}

	#slogan {
		background-color: #848484;
		margin-left: 5px;
		height: 115px;
		margin-top: 10px;
		float: left;
		width: 57%;
	}

	#imageB {
		background-color: #848484;
		margin-right: 5px;
		height: 115px;
		float: right;
		margin-top: 10px;
		margin-left: 5px;
		width: 38%;
	}

	#footerMenu {
		background-color: #848484;
		margin-top: 10px;
		width: 50%;
		height: 130px;
	}
	#footerMenu li {
		margin: 5px;
	}

	#imageC {
		background-color: #848484;
		float: right;
	}

	#socialMedia {
		background-color: #848484;
		position: relative;
		float: right;
	}
}